 <!-- menu TOP-->
 <nav class="navbar navbar-expand-lg  navbar-light bg-dark">
    <div class="container-fluid">
         <a class="navbar-brand text-light" href="#">Japa Drink's</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-light" ></span>
          </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0 t">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink='/contact' routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cardápio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item nav-link " routerLink='/cafe' >Coffee (café)</a></li>
              <li><a class="dropdown-item nav-link" routerLink='/comidas'>food's (Comidas)</a></li>
              <li><a class="dropdown-item nav-link" routerLink='/sobremesa' >Dessert (Sobremesa)</a></li>
              <li><a class="dropdown-item nav-link" routerLink='/bebidas' >Drinks (Bebidas)</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item  nav-link" routerLink='/outra-coisa'  >Something else here <br>(Outra_coisa aqui)</a></li>
            </ul>
          </li>
         </ul>
          <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
        </div>
        </nav>

      

<div class="container">
       <!-- Tabale de Promoção -->
        
       <table class="table table-codensed table-bordered ">
                            
        <tr class=" text-end ">
            <th > <h2>Rodiao de Pizza</h2> </th> 
            
        </tr>

        <tr>
            <td ><h3> ADULTO </h3></td>
            <td class="text text-end" ><h3> R$00.00 </h3></td>
        </tr>

        <tr>
            <td ><h3> CRIANÇA </h3></td>
            <td class="text text-end" ><h3> R$00.00 </h3></td>
        </tr>

        <tr>
            <td  ><h3> CASAL </h3></td>
            <td class="text text-end" ><h3> R$00.00 </h3></td>
        </tr>

        <tr>
            <td  ><h3> COMEMORAÇÃO </h3></td>
            <td class="text text-end" ><h3> R$00.00 </h3></td>
        </tr>

       

         
            <!-- Tabale de Promoção -->
        
       
                            
        <tr class=" text-end ">
            <th > <h2>Rodiao de Carnes</h2> </th> 
            
        </tr>

        <tr>
          <td ><h3> ADULTO </h3></td>
          <td class="text text-end" ><h3> R$00.00 </h3></td>
      </tr>

      <tr>
          <td ><h3> CRIANÇA </h3></td>
          <td class="text text-end" ><h3> R$00.00 </h3></td>
      </tr>

      <tr>
          <td  ><h3> CASAL </h3></td>
          <td class="text text-end" ><h3> R$00.00 </h3></td>
      </tr>

      <tr>
          <td  ><h3> COMEMORAÇÃO </h3></td>
          <td class="text text-end" ><h3> R$00.00 </h3></td>
      </tr>



        <tr class=" text-end ">
          <th > <h2>Festival Japones</h2> </th> 
          
      </tr>

      <tr>
        <td ><h3> ADULTO </h3></td>
        <td class="text text-end" ><h3> R$00.00 </h3></td>
    </tr>

    <tr>
        <td ><h3> CRIANÇA </h3></td>
        <td class="text text-end" ><h3> R$00.00 </h3></td>
    </tr>

    <tr>
        <td  ><h3> CASAL </h3></td>
        <td class="text text-end" ><h3> R$00.00 </h3></td>
    </tr>

    <tr>
        <td  ><h3> COMEMORAÇÃO </h3></td>
        <td class="text text-end" ><h3> R$00.00 </h3></td>
    </tr>
       </table>
</div>
          